.allTeamsTablePageWrapper {
  background-color: var(--color-black);
  min-height: 150dvh;
  max-height: fit-content;
}

.pageTitle {
  color: var(--color-white);
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0;
}
