.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    margin-top: 4rem;

    border-right: 1px solid var(--color-red-primary)
}



.mainTitle {
    color: var(--color-white);
    text-decoration: solid var(--color-red-primary) underline;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    padding-top: .5rem;
    margin-bottom: .5rem;
    
}

.articlesSection {
    
}

.articleCard {
    margin: 2rem auto;
    background: linear-gradient(to bottom right,  var(--color-gray-100), var(--color-black),var(--color-red-primary));
    width: 90%;
    padding: 1rem 2.5rem;
    border-radius: 20px;
}

.articleAuthor {
    margin-bottom: .5rem;
}