.main {
  background-color: var(--color-black);

  height: 100dvh;
  min-height: fit-content;
}

/* .mainSiteTitleWrapper {
  color: var(--color-white);
  width: 100%;
  margin-bottom: 100dvh;
} */

.mainSiteTitle {
  padding-top: 6rem;
  text-align: center;
  font-size: 3.5rem;
}

.mainSectionWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* 5 sections: 1/5, 3/5, 1/5 */
  gap: 1rem; /* Optional: adds space between the sections */

  color: var(--color-white);
  height: 30dvh;
  min-height: fit-content;
}





.middleSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /* border-left: 1px solid white; 
  border-right: 1px solid white;  */
  
}

.rssSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

 
}




