.main {
  background-color: var(--color-black);

  height: fit-content;
  min-height: 150dvh;
}

.mainSiteTitleWrapper {
  color: var(--color-white);
  width: 100%;
}

.pageTitle {
  padding-top: 8rem;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

/* team select */

.teamSelectWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;
  margin-top: 6rem;
}

.teamSelectLabel {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.teamSelectSelect {
  border-radius: 20px;
  background-color: var(--color-blue-dark);
  color: var(--color-gray-800);

  text-align: center;
}

.selectedTeamText {
  text-align: center;
  color: var(--color-red-primary);
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.lastYearsTeamDataDisplayAndSelectingTotalProjectedPlaysWrapper {
  display: flex;
  justify-content: space-evenly;
}

.lastYearsTeamInfoOutsideWrapper {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  width: 30%;
}

.teamProjectedPlaysFormWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4rem auto 2rem 0;
}

.selectedTeamPreviousYearLabel {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
}

.lastYearsTeamInfoInsideWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.lastYearsTeamInfoElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.previousYearsTotalPlaysNode {
  font-size: 2rem;
  color: var(--color-blue-primary);
  margin-bottom: 0.75rem;
}

.runAndPassPercentText {
  text-align: center;
  color: var(--color-blue-light);
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}
