.table_container {
  /* max-width: 1500px; */
  max-width: 100%;
  width: 100dvw;
  /* max-height: 500px; */
  margin: 0 auto;
  overflow: auto;
  padding: 0 16px;
}

.table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  border-spacing: 0;
}

.caption {
  font-style: italic;
  font-size: 90%;
  margin-bottom: 10px;
}

.tableHead {
  background: #000;
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  /* font-weight: bold; */
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  width: fit-content;
}

/* .table th.up { */
/*   
    background-image: url('@/public/up_arrow.png');
  }
  .table th.down {
    
    background-image: url('@/public/down_arrow.png');
  }
  .table th.default {
    background-image: url('@/public/default.png');
  } */
th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.table td {
  border-top: 1px solid #ddd;
  padding: 8px 20px;
  width: fit-content;
  text-align: center;
}

@media (max-width: 1450px) {
  .table {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .table td {
    padding: 8px 15px;
  }
}

@media (max-width: 915px) {
  .table_container {
    padding: 0;
  }
  .table td {
    padding: 8px 12px;
  }
}

@media (max-width: 860px) {
  .tableHead {
    font-size: 0.9rem;
  }

  .table td {
    padding: 6px 10px;
  }
}

@media (max-width: 810px) {
  .tableHead {
    font-size: 0.85rem;
    padding: 4px 5px;
  }

  .table td {
    padding: 6px 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 735px) {
  .tableHead {
    font-size: 0.8rem;
  }

  .table td {
    padding: 4px 6px;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (max-width: 610px) {
  .tableHead {
    font-size: 0.75rem;
  }

  .table td {
    padding: 4px 4px;
    font-size: 0.75rem;
  }
}

@media (max-width: 570px) {
  .tableHead {
    overflow: hidden;
  }
  .table_container {
    overflow: hidden;
    margin: 0;
  }

  .caption {
    font-size: 70%;
    margin-bottom: 7.5px;
  }
}

@media (max-width: 525px) {
  .tableHead {
    font-size: 0.65rem;
    padding: 4px 2px;
  }

  .table td {
    padding: 3px 3px;
    font-size: 0.75rem;
  }
}

@media (max-width: 490px) {
  .caption {
    display: none;
  }
}

@media (max-width: 480px) {
  .table td {
    padding: 4px 2px;
    font-size: 0.7rem;
  }
}

@media (max-width: 420px) {
  .tableHead {
    font-size: 0.55rem;
    padding: 4px 1.5px;
  }
  .table td {
    font-size: 0.65rem;
  }
}

@media (max-width: 390px) {
  .tableHead {
    font-size: 0.5rem;
    padding: 4px 1.5px;
  }
  .table td {
    font-size: 0.6rem;
  }
}

@media (max-width: 360px) {
  .table td {
    font-size: 0.55rem;
  }
}

@media (max-width: 340px) {
  .table td {
    font-size: 0.5rem;
  }
}

@media (max-width: 320px) {
  .table td {
    font-size: 0.45rem;
  }
}

@media (max-width: 305px) {
  .table td {
    font-size: 0.45rem;
    padding: 4px 1px;
  }
}

@media (max-width: 290px) {
  .table td {
    font-size: 0.4rem;
  }
}

.table tbody tr:first-child td {
  border-top: none;
}

.table tbody tr:nth-child(n) td {
  background: var(--color-gray-400);
}

.table tbody tr:nth-child(2n) td {
  background: var(--color-black);
}

.table tr {
  width: fit-content;
}

.isOnTeam {
  background-color: #000;
  font-size: 1.25rem;
  transform: scale(1.01);
  font-weight: 700;
  color: #9c0d0d;
}
