.wholePageWrapper {
  background-color: var(--color-black);
  height: fit-content;
  min-height: 150dvh;
}

.linkWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.projectionsLink {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}

.projectionsLink:hover {
  color: var(--color-red-primary);
  transform: translateY(-0.2rem);
  display: inline-block;
}

.projectionsLink:active {
  transform: translateY(0.2rem);
}

.btnsWrapper {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 0.5rem auto;
  margin-top: 4rem;
}

.posBtn {
  /* background-color: oklch(46.76% 0.128 239.29 / 98%); */
  background-color: #02688f;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 1.1rem;
  height: 2rem;
  width: 6.5rem;
  max-width: 6.5rem;
  border-radius: 20px;
  border: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.posBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: oklch(46.76% 0.128 239.29 / 98%);
  transform: translateY(-0.25rem);
  transition: all 0.15s;
}

.posBtn:active {
  transform: translateY(0);
  transition: all 0.15s;
}

/* table */

.table_container {
  /* max-width: 1500px; */
  max-width: 100%;
  width: 100dvw;
  /* max-height: 500px; */
  margin: 0 auto;

  overflow: auto;
  padding: 0 16px;
}

.table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  border-spacing: 0;
}

.caption {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--color-white);
  margin-bottom: 10px;
  margin-top: 4rem;
}

.tableHead {
  background: #000;
  color: var(--color-white);
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  /* font-weight: bold; */
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  width: fit-content;
}

/* .table th.up { */
/*   
      background-image: url('@/public/up_arrow.png');
    }
    .table th.down {
      
      background-image: url('@/public/down_arrow.png');
    }
    .table th.default {
      background-image: url('@/public/default.png');
    } */
th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.table td {
  border-top: 1px solid #ddd;
  padding: 8px 20px;
  color: var(--color-white);
  width: fit-content;
  text-align: center;
}

@media (max-width: 1450px) {
  .table {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .table td {
    padding: 8px 15px;
  }
}

@media (max-width: 915px) {
  .table_container {
    padding: 0;
  }
  .table td {
    padding: 8px 12px;
  }
}

@media (max-width: 860px) {
  .tableHead {
    font-size: 0.9rem;
  }

  .table td {
    padding: 6px 10px;
  }
}

@media (max-width: 810px) {
  .tableHead {
    font-size: 0.85rem;
    padding: 4px 5px;
  }

  .table td {
    padding: 6px 8px;
    font-size: 0.9rem;
  }
}

@media (max-width: 735px) {
  .tableHead {
    font-size: 0.8rem;
  }

  .table td {
    padding: 4px 6px;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (max-width: 610px) {
  .tableHead {
    font-size: 0.75rem;
  }

  .table td {
    padding: 4px 4px;
    font-size: 0.75rem;
  }
}

@media (max-width: 570px) {
  .tableHead {
    overflow: hidden;
  }
  .table_container {
    overflow: hidden;
    margin: 0;
  }

  .caption {
    font-size: 70%;
    margin-bottom: 7.5px;
  }
}

@media (max-width: 525px) {
  .tableHead {
    font-size: 0.65rem;
    padding: 4px 2px;
  }

  .table td {
    padding: 3px 3px;
    font-size: 0.75rem;
  }
}

@media (max-width: 490px) {
  .caption {
    display: none;
  }
}

@media (max-width: 480px) {
  .table td {
    padding: 4px 2px;
    font-size: 0.7rem;
  }
}

@media (max-width: 420px) {
  .tableHead {
    font-size: 0.55rem;
    padding: 4px 1.5px;
  }
  .table td {
    font-size: 0.65rem;
  }
}

@media (max-width: 390px) {
  .tableHead {
    font-size: 0.5rem;
    padding: 4px 1.5px;
  }
  .table td {
    font-size: 0.6rem;
  }
}

@media (max-width: 360px) {
  .table td {
    font-size: 0.55rem;
  }
}

@media (max-width: 340px) {
  .table td {
    font-size: 0.5rem;
  }
}

@media (max-width: 320px) {
  .table td {
    font-size: 0.45rem;
  }
}

@media (max-width: 305px) {
  .table td {
    font-size: 0.45rem;
    padding: 4px 1px;
  }
}

@media (max-width: 290px) {
  .table td {
    font-size: 0.4rem;
  }
}

.table tbody tr:first-child td {
  border-top: none;
}

.table tbody tr:nth-child(n) td {
  background: var(--color-gray-400);
}

.table tbody tr:nth-child(2n) td {
  background: var(--color-black);
}

.table tr {
  width: fit-content;
}
